# Ignore files with no extension
# This should ignore all executable files
*
!/**/
!*.*

# Ignore example generated project
src/ch7_packages_crates_modules/my-project

# Ignore VS code file
rust_tutorial.code-workspace

/target
**/*.rs.bk
**/target
